<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
    footer {
      padding: 0px 0px 0px 0px;
      background-color: black;
      position:fixed;
      width:100%;
      bottom:1px;
    }

    .fa {
      padding: 20px;
      font-size: 23px;
      width: 60px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
    }

    p {
      text-align: center;

    }
  </style>
</head>

<footer>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div style="color:#ffffff;" class="wow fadeInUp footer-copyright">
          <p>
             &copy; 2022 - College Management System  </p>
        </div>
      </div>
    </div>
  </div>
</footer>
</html>
